@model ProductCreateViewModel
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Create Product
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="All"></div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Name</label>
                    <input class="form-control" id="input1" asp-for="Name" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Description</label>
                    <input class="form-control" id="input1" asp-for="Description" placeholder="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Color</label>
                    <input class="form-control" id="input1" asp-for="Color" placeholder="Color">
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">ProductCode</label>
                    <input class="form-control" id="input1" asp-for="ProductCode" placeholder="ProductCode">
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Brand</label>
                    <input class="form-control" id="input1" asp-for="Brand" placeholder="Brand">
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Reward Point</label>
                    <input class="form-control" id="input1" asp-for="RewardPoint" placeholder="Reward Point">
                    <span asp-validation-for="RewardPoint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Stock Quantity</label>
                    <input class="form-control" id="input1" asp-for="StockQuantity" placeholder="Stock Quantity">
                    <span asp-validation-for="StockQuantity" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Price</label>
                    <input class="form-control" id="input1" asp-for="OriginalPrice" placeholder="Original Price">
                    <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Discount Price</label>
                    <input class="form-control" id="input1" asp-for="DiscountPercentage" placeholder="Discount Percentage % ">
                    <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Tax</label>
                    <input class="form-control" id="input1" asp-for="Tax" placeholder="Tax">
                    <span asp-validation-for="Tax" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId">Categories</label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value="@null" selected>Choose Category</option>
                        @foreach (var category in Model.Categories ?? new())
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Select Tag(s)</label>
                    <select asp-items="Model.Tags" asp-for="SelectedTagIds" class="form-control" placeholder="tags" multiple="multiple"></select>
                    <span asp-validation-for="SelectedTagIds"></span>
                </div>


                <div class="form-group">
                <label for="exampleInputUsername1">Main Image</label>
                <input class="form-control" id="input1" asp-for="MainFile" placeholder="main">
                <span asp-validation-for="MainFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                <label for="exampleInputUsername1">Hover Image</label>
                <input class="form-control" id="input1" asp-for="HoverFile" placeholder="hover">
                <span asp-validation-for="HoverFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Image</label>
                    <input class="form-control" id="input1" asp-for="AdditionalImages" placeholder="additional">
                    <span asp-validation-for="AdditionalImages" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light" asp-action="index">Cancel</button>
            </form>
        </div>
    </div>
</div>